.background {
  position: absolute;
  z-index: 1;
  background: linear-gradient(rgb(34, 34, 34), rgb(92, 92, 92));
  height: 100vh;
  width: 100vw;
}

.asteroid {
  position: absolute;
  width: 8em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #fff;
  color: white;
  font-size: 1em;
  font-weight: bold;
  z-index: 2;
}

input {
  display: flex;
  justify-content: center;
}

.platform_boundary {
  background-color: red;
  width: 100vw;
  height: 1vh;
  margin-top: 80vh;
}

.platform {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100vw;
  height: 19vh;
}

.platform > input {
  height: 5vh;
  margin-top: 7vh;
  padding: 2vh;
  width: 30vw;
}

.info {
  margin-top: 5vh;
  font-weight: bold;
}
